.footer {
   padding: 4.5rem 0;
   color: #9a9a9a;
   font-size: 1.4rem;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
}

.nav-link--line {
   position: relative;
   &:before {
      @include pseudo;
      width: 4px;
      height: 2px;
      background-color: $success;
      right: -1rem;
      top: 50%;
      transform: translate(50%, -50%);
   }
}
