.section-subscribe {
   padding: 4rem 0;
   background-color: $success;
}

.invite {
   color: $color-text-light;
   font-size: 3rem;
   line-height: 1.6;

   &__title {
      margin-bottom: 2rem;
   }
   @media (max-width: 768px) {
      margin-bottom: 3rem;
      text-align: center;
   }
   @media (max-width: 576px) {
      font-size: 2rem;
   }
}

.subscribe {
   background-color: $color-text-light;
   padding: 1.5rem 2rem;

   &__title {
      font-size: 2.4rem;
      margin-bottom: 1rem;
      @media (max-width: 576px) {
         font-size: 2rem;
      }
   }
   &__lead {
      font-size: 1.4rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      text-transform: none;
      margin-bottom: 2.5rem;
   }
}
