.section-advert {
   font-family: "Open Sans", sans-serif;
   font-size: 1.4rem;
   font-weight: 400;
   padding: 15rem 0;
   text-align: center;
   text-transform: none;
   @media (max-width: 768px) {
      padding: 4rem 0;
   }

   &__title {
      font-family: "Montserrat", sans-serif;
      display: inline-block;
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem;
      position: relative;

      &::before {
         @include pseudo;
         bottom: 0;
         left: 0;
         width: 7rem;
         height: 2rem;
         background-color: $success;
         z-index: -1;
         @media (max-width: 768px) {
            width: 4.7rem;
            height: 1.3rem;
         }
      }
      @media (max-width: 768px) {
         font-size: 2rem;
      }
   }

   &__lead {
      text-transform: none;
      max-width: 730px;
      @include push--auto;
      margin-bottom: 9.5rem;

      @media (max-width: 768px) {
         margin-bottom: 4rem;
      }
   }
}

.description-wrap {
   margin-bottom: 9.5rem;
   text-align: left;

   @media (max-width: 768px) {
      margin-bottom: 4rem;
   }
}

.description {
   &__text {
      margin-bottom: 4rem;
   }
   &__list {
      list-style: none;
      @media (max-width: 768px) {
         margin-bottom: 4rem;
      }
   }

   &__item {
      position: relative;
      margin-bottom: 0.7rem;

      &::before {
         @include pseudo;
         bottom: 0;
         top: 50%;
         width: 1rem;
         height: 1rem;
         transform: translate(-200%, -50%);
         background-color: $success;
         background-image: url("@img/marker.png");
         background-size: cover;
         background-position: 50% 50%;
         background-repeat: no-repeat;
      }
   }
}

.advantage {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: end;
   height: 100%;

   &__title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 1rem;
   }
   &__lead {
      line-height: 2.1;
   }
}
